.containerJob {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: left;
  text-align: start;
  // border: 1px solid red;
  padding: 0 auto;

  p {
    font-size: 18rem;
    font-style: normal;
    font-weight: 900;
    line-height: 17.7rem;
    text-transform: uppercase;
  }
}
