.footerContainer {
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
}

.footerCopy svg {
	width: 1rem;
	height: auto;
	fill: #f33;
	margin: 0 3px;
	transform: translateY(4px);
}
