@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");

:root {
	font-size: 62.5%;
	--primary-bg-color: #010409;
	--secondary-color: #161b22;
	--primary-font-color: #f3f3f3;
	--secondary-font-color: #a8a8b3;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	color: var(--primary-font-color);
	background: var(--primary-bg-color);
	font-size: 1.5rem;
	font-family: "Inter", sans-serif;
}

a {
	color: var(--primary-font-color);
}
