.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social{
    margin: 25px 0;
    display: flex;
    flex-flow: column nowrap;
}
.box{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 auto;
}
.box i{
    margin-right: 5px;
}
.box a{
    margin-bottom: 5px;
}
.msg{
    font-size: 1.3rem;
    text-align: center;
}